
<section id="cover" class="min-vh-100">
    <div id="cover-caption">
        <div class="container">
            <div class="row text-white">
                <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
                    <h1 class="display-4 py-2 text-truncate">Sign In</h1>
                    <div class="px-2">
                        <form action="" [formGroup]="signin" class="justify-content-center">
                            <div class="form-group">
                                <label class="sr-only">Name</label>
                                <input type="text" formControlName="userName" class="form-control"  required placeholder="Enter your name">
                            </div>
                            <div class="form-group">
                                <label class="sr-only">Password</label>
                                <input type="password" formControlName="password" class="form-control" required placeholder="Enter your password">
                            </div>
                            <div class="form-group">
                                <p class="text-danger" *ngIf="loginInCorrect">User Name or Pasword Incorrect</p>
                            </div>
                            <button type="submit" class="btn btn-primary btn-lg" (click)="onClickLogin()" [disabled]="!(userNameControl.value && passwordControl.value)">Login</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

